{{!-- 



    <div class="row">        
        <div class="col-auto">
            <h3>Create a new Event</h3>
        </div>
    </div>

	<div class="container-fluid">
		<div class="row main-content bg-success text-center">
			<div class="col-md-4 text-center company__info">
				<span class="company__logo"><h2><image src="./images/logo.png"></h2></span>
			</div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">
					<div class="row">
						<form control="" class="form-group" id="newevent-form" >
                            <div class="row">
								<input type="text" name="title" id="title" class="form__input" placeholder="Title">
							</div>
                            <div class="row">
								<input type="text" name="present-by" id="present-by" class="form__input" placeholder="Present By">
							</div>
                            <div class="row">
								<input type="text" name="date" id="date" class="form__input" placeholder="Date E.g Thu Jan 05 13:00:00 GMT-0300 (Atlantic Daylight Saving Time) ">
							</div>
                            <div class="row">
								<input type="text" name="location" id="location" class="form__input" placeholder="Location">
							</div>
                            <div class="row">
								<input type="text" name="category" id="category" class="form__input" placeholder="Category">
							</div>
                            <div class="row">
								<input type="text" name="imageurl" id="imageurl" class="form__input" placeholder="Image URL">
							</div>
                            
                            <div class="row">
								<input type="number" name="price" id="price" class="form__input" placeholder="Price">
							</div>
                            <div class="row">
								<input type="text" name="description" id="description" class="form__input" placeholder="description" cols="30" rows="10">
							</div>
							<div class="row"></div>				
                             <button id="btn" class="btn" type="submit">Create</button>
								{{!-- <input type="submit" value="Submit" class="btn"> --}}
							</div>
						</form>
					</div>
					
				</div>
			</div>
		</div>
	</div>

    
<script src="./js/newevent.js"></script> --}}