<div class="container-fluid">
  <div class="row main-content bg-success text-center">
    <div class="col-md-4 text-center company__info">
      <span class="company__logo"><h2><image src="./images/logo.png"></h2></span>      
    </div>
    <div class="col-md-8 col-xs-12 col-sm-12 login_form">
      <div class="container-fluid">
        <div class="row">
          <h2>Sign Up</h2>
        </div>
        <div class="row">
          <form control="" class="form-group" id="signup-form">
             <div class="row">
              <input
                type="text"
                name="email"
                id="name-signup"
                class="form__input"
                placeholder="Name"
              />
            </div>
            <div class="row">
              <input
                type="text"
                name="email"
                id="email-signup"
                class="form__input"
                placeholder="Email"
              />
            </div>
            <div class="row">
         
              <input
                type="password"
                name="password"
                id="password-signup"
                class="form__input"
                placeholder="Password"
              />
            </div>

            <div class="row">
              <button id="btn" class="btn" type="submit">Signup</button>
           
            </div>
          </form>
        </div>
       
      </div>
    </div>
  </div>
</div>
<script src="./js/signup.js"></script>